.container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
}

.leftArea {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.rightArea {
  display: flex;
  width: 100%;
}
